@CHARSET "UTF-8";
@Import	url("common.css");

img{border:none;}

#wrap{
	width: 99%;
	text-align: left; /* 글자정렬 왼쪽 */
	margin: 0;
	margin-right: auto; /* 환경에 맞게 자동 설정 */
	margin-left: auto;
	/* background-image: url("../../images/developers.png"); */
	background-repeat: repeat-y;
	/*
	만약 배경 이미지가 작으면 이미지 반복으로 채우겠다.
	*/ 
	min-height: 700px;
	/*
	모니터에 따라 신축성 있게 헤더가 축소되지만
	최소한 750px은 유지하고
	그 이하가 되면 이미지가 잘리도록 하겠다.
	*/
	
}


#top{
	height: 150px;
	margin: 0;
	padding: 0;
	
}

.clear{
	clear: both;
}

#logo{
	float: left;
	margin: 40px 0 0 40px;
	width: 270px;
}

#login{
	float: right;
	margin: 20px 60px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	word-spacing: 5px; /* 글자 간격 */
}

#login a{
	text-decoration: none;
	color: #333;
}

#login a:hover{
	color: #F90;
}

nav#topMenu{
	width: 600px;
	margin: 50px 20px 0 0;
	float: right;
}

nav#topMenu ul{
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: 100;
	color: #333;
}

nav#topMenu ul li{
	float: left;
	margin: 0 5px;
}

nav#topMenu a{
	display:block;
	height: 20px;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

nav#topMenu a:hover{
	
}
/* 
footer{
	text-align:center;
	border:1px solid orange;
} */

footer hr{
	width: 100%;
	margin: 0 0 0 15px;
	z-index:3;
}

#companyInfo{
	text-align:center;
	margin:10px auto;
	width:700px;
	overflow-x:scorll;
}

#companyInfo textarea{
	text-align:left;
	
}

footer{
	background-color:#fff;
}

/* 
#companyInfo pre{
	margin:0;
	padding:0;
	position:static;
	border:1px solid green;
	overflow:hidden;
} */

